In [ ]:
# Robotator Dyslexia 2018 Data Analysis


useful links:

https://matplotlib.org/tutorials/

http://pandas.pydata.org/pandas-docs/stable/

http://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.core.groupby.DataFrameGroupBy.hist.html

Read libraries:

In [2]:
#df_robotator = pd.read_csv('BFI.csv', sep=',')
#df_tablet = pd.read_csv('tablet.csv', sep=',')
#df_summary = pd.DataFrame ()

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.cbook as cbook
import math
from scipy.stats import pearsonr
from scipy.stats import ttest_ind
#from RobotatorLibrary import *

### NARs Summary Analysis:

Sub-scale 1: Negative Attitudes toward Situations and Interactions with Robots. Items - 4,7,8,9,10,12

Sub-scale 2: Negative Attitudes toward Social Influence of Robots. Items - 1,2,11,13,14

Sub-scale 3: Negative Attitudes toward Emotions in Interaction with Robots. Items - 3r,5r,6r

Syrdal, D. S., Dautenhahn, K., Koay, K. L., & Walters, M. L. (2009). The negative attitudes towards robots scale and reactions to robot behaviour in a live human-robot interaction study. Adaptive and Emergent Behaviour and Complex Systems.

r=reversed

In [4]:
def calculate_factors_NARS(data_frame_NARS):
#data_frame_NARS: a data frame of 14 columns 

    NARS_facrots = pd.DataFrame()
    NARS_facrots["NARS_sub1"] = data_frame_NARS[[3,6,7,8,9,11]].mean(axis=1)
    NARS_facrots["NARS_sub2"] = data_frame_NARS[[0,1,10,12,13]].mean(axis=1)
    NARS_facrots["NARS_sub3"] = 6 - data_frame_NARS[[2,4,5]].mean(axis=1)
    
    return NARS_facrots

##Godspeed Summary Analysis
The Godspeed questionnaires defined by Bartneck, Kulic, and Croft (2009)
were used to assess the children’s impressions of the robot, going beyond the
ones already covered in the ALMERE questionnaire. 

Anthropomorphism: Items 1,2,3,4,5

Animacy: Items 6,7,8,9,10,11

Likeability: Items 12,13,14,15,16

Perceived Intelligence: 17,18,19,20,21

Perceived Safety: 22,23,24

Bartneck, C., Kulić, D., Croft, E., & Zoghbi, S. (2009). Measurement instruments for the anthropomorphism, animacy, likeability, perceived intelligence, and perceived safety of robots. International journal of social robotics, 1(1), 71-81.

In [5]:
def calculate_factors_Godspeed(data_frame_Godspeed):
#data_frame_NARS: a data frame of 24 columns 

    df_Godspeed_facrots = pd.DataFrame()
    df_Godspeed_facrots["Godspeed_Anthropomorphism"] = data_frame_Godspeed[[0,1,2,3,4]].mean(axis=1)
    df_Godspeed_facrots["Godspeed_Animacy"] = data_frame_Godspeed[[5,6,7,8,9,10]].mean(axis=1)
    df_Godspeed_facrots["Godspeed_Likeability"] =  data_frame_Godspeed[[11,12,13,14,15]].mean(axis=1)
    df_Godspeed_facrots["Godspeed_Intelligence"] = data_frame_Godspeed[[16,17,18,19,20]].mean(axis=1)
    df_Godspeed_facrots["Godspeed_Safety"] = data_frame_Godspeed[[21,22,23]].mean(axis=1)
    
    return df_Godspeed_facrots

##SIMS Summary Analysis

F. Guay, R. J. Vallerand, and C. Blanchard, "On the assessment of
situational intrinsic and extrinsic motivation: The situational motivation
scale (SIMS)," Motivation and Emotion, vol. 24, pp. 175-
21, 2000. http://dx.doi.org/10.1023/A:1005614228250

In [124]:
#1	כי אני חושב/ת שהפעילות הזו מעניינת
#2	כי אני עושה את זה לטובתי שלי
#3	כי אני אמור/ה לעשות אותה
#4	עשויות להיות סיבות טובות לביצוע פעילות זו, אך אישית איני יודע/ת מהן
#5	כי אני חושב/ת שפעילות זו נעימה
#6	כי אני חושב/ת שפעילות זו טובה לי
#7	כי זה משהו שאני חייב לעשות
#8	אני מבצע/ת פעילות זו אך אינו בטוח אם זה שווה את זה
#9	כי הפעילות הזו כיפית
#10	בהחלטה אישית
#11	כי אין לי ברירה
#12	אני לא יודע/ת; אני לא רואה מה הפעילות הזו נותנת לי
#13	כי אני מרגיש/ה טוב כשאני מבצע/ת את הפעילות הזו
#14	כי אני מאמין/ה שפעילות זו חשובה לי
#15	כי אני מרגיש/ה שעלי לעשות זאת
#16	אני מבצע/ת פעילות זו אך איני בטוח כי זה דבר טוב

<B>Intrinsic motivation</B><br>
    1 - Because I think that this activity is interesting 0.91<br> 
    5 - Because I think that this activity is pleasant 0.90<br>
    9 - Because this activity is fun 0.89<br>
    13 - Because I feel good when doing this activity 0.83<br>
<B>Identified regulation</B><br>
    2 - Because I am doing it for my own good 0.77<br>
    6 - Because I think that this activity is good for me 0.31 0.60<br>
    10 - By personal decision 0.57<br>
    14 - Because I believe that this activity is important for me 0.52<br>
<B>External regulation</B><br>
    3 - Because I am supposed to do it 0.85<br>
    7 - Because it is something that I have to do 0.75<br>
    11 - Because I don’t have any choice 0.69<br>
    15 - Because I feel that I have to do it 0.58<br>
<B>Amotivation</B><br>
    4 - There may be good reasons to do this activity, but personally I don’t see any 0.83<br>
    8 - I do this activity but I am not sure if it is worth it 0.74<br>
    12 - I don’t know; I don’t see what this activity brings me 0.55 <br>
    16 - I do this activity, but I am not sure it is a good thing to pursue it 0.54<br>

In [6]:
def calculate_factors_SIMS(data_frame_SIMS):
#data_frame_NARS: a data frame of 24 columns 

    df_SIMS_facrots = pd.DataFrame()
    df_SIMS_facrots["IntrinsicMotivation"] = data_frame_SIMS[['SIMS_1','SIMS_5','SIMS_9','SIMS_13']].mean(axis=1)
    df_SIMS_facrots["IdentifiedRegulation"] = data_frame_SIMS[['SIMS_2','SIMS_6','SIMS_10','SIMS_14']].mean(axis=1)
    df_SIMS_facrots["ExternalRegulation"] =  data_frame_SIMS[['SIMS_3','SIMS_7','SIMS_11','SIMS_15']].mean(axis=1)
    df_SIMS_facrots["Amotivation"] = data_frame_SIMS[['SIMS_4','SIMS_8','SIMS_12','SIMS_16']].mean(axis=1)
    
    return df_SIMS_facrots

##Useful functions

In [7]:
def correlation_matrix(df):
    %matplotlib inline
    corr = df.corr()
    #print(corr)
    plt.figure(figsize=(6,6))
    cax = plt.matshow(corr,fignum=1)
    headers = list(df)
    x_pos = np.arange(len(headers))
    plt.xticks(x_pos, headers, rotation='vertical', fontsize=10)
    y_pos = np.arange(len(headers))
    plt.yticks(y_pos, headers, fontsize=10)
    plt.colorbar(cax)
    plt.show()

In [8]:
def plot_histogram (x, bins=[1,2,3,4,5,6]):
    # x is a series taken from a dataframe
    # n, bins, patches = plt.hist(x, 50, normed=1, facecolor='green', alpha=1)
    #x = x [~np.isnan(x)] #remove all NaN
    #x1 = np.asarray(x)
    x = x.dropna()
    title = x.name
    #plt.xlabel(title)  #(x.name)
    plt.ylabel('frequency')
    plt.rc('axes', titlesize=20)     # fontsize of the axes title
    plt.rc('axes', labelsize=20)    # fontsize of the x and y labels
    plt.rc('xtick', labelsize=20)    # fontsize of the tick labels
    plt.rc('ytick', labelsize=20)    # fontsize of the tick labels
    plt.rc('legend', fontsize=20)    # legend fontsize
    plt.title(title)#(x.name + " histogram")
    plt.xticks(range(1, 6))   
    plt.grid(True)
    n, bins, patches = plt.hist(x.values, bins, facecolor='blue', alpha=1)

    #plt.axis([40, 160, 0, 0.03])

    #plt.show()

In [9]:
def plot_multi_histogram(x,xlabel,legend=['tablet', 'robot','teacher'],bins=[1,2,3,4,5,6]):
# x is a list of three series. Their Nan values should be removed
    ta = df_Attitudes_tablet["A_ta_"+str(i+1)].dropna()
    ro = df_Attitudes_robot["A_ro_"+str(i+1)].dropna()
    te = df_Attitudes_teacher["A_te_"+str(i+1)].dropna()
    plt.rc('axes', titlesize=20)     # fontsize of the axes title
    plt.rc('axes', labelsize=20)    # fontsize of the x and y labels
    plt.rc('xtick', labelsize=20)    # fontsize of the tick labels
    plt.rc('ytick', labelsize=20)    # fontsize of the tick labels
    plt.rc('legend', fontsize=20)    # legend fontsize
    plt.title(xlabel)
    plt.ylabel("frequency")
    plt.xticks(range(1, 6))
    plt.hist(x,bins=bins, color=['red', 'green','blue'])
    plt.legend(legend,loc=2)
    #plt.xlabel(xlabel)

In [10]:
def calculate_t_test(df_1,df_2):
    p_values = []
    for i in range(0,len(list(df_1))): #count the number of column if df_1 (which is equal to df_2)
        ta=df_1[[i]].dropna()
        ro=df_2[[i]].dropna()
        p_values.append(ttest_ind(ta,ro)[1])
    return p_values

# ROBOTATOR Dyslexia May 2018

## Read data

In [105]:
df_Condition_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK3_Condition.csv', sep=',')
df_SIMS_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_SIMS.csv', sep=',')
df_AGr_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_AGr.csv', sep=',')
df_ATa_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_ATa.csv', sep=',') 
df_ATe_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_ATe.csv', sep=',') 
df_ARo_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_ARo.csv', sep=',') 
df_NARsPre_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_NARs_Pre.csv', sep=',')
df_NARsPost_Dyslexia = pd.read_csv('Results_RobotatorDyslexia_5_2018_RRK4_NARs_Post.csv', sep=',')

Delete from df_ARo_Dyslexia the values received from tablet condition:

In [106]:
is_tablet = df_ARo_Dyslexia["condition"]=="tablet"
inf = float("9e999")
nan = inf - inf
tablet_indeces = df_ARo_Dyslexia[is_tablet].index.tolist()
df_ARo_Dyslexia.iloc[tablet_indeces,range(4,18)]=nan

Delete from df_ATa_Dyslexia the values received from robot condition:

In [107]:
is_robot = df_ATa_Dyslexia["condition"]=="robot"
inf = float("9e999")
nan = inf - inf
robot_indeces = df_ARo_Dyslexia[is_robot].index.tolist()
df_ATa_Dyslexia.iloc[robot_indeces,range(4,18)]=nan

##SIMS

F. Guay, R. J. Vallerand, and C. Blanchard, "On the assessment of
situational intrinsic and extrinsic motivation: The situational motivation
scale (SIMS)," Motivation and Emotion, vol. 24, pp. 175-
21, 2000. http://dx.doi.org/10.1023/A:1005614228250

In [124]:
#1	כי אני חושב/ת שהפעילות הזו מעניינת
#2	כי אני עושה את זה לטובתי שלי
#3	כי אני אמור/ה לעשות אותה
#4	עשויות להיות סיבות טובות לביצוע פעילות זו, אך אישית איני יודע/ת מהן
#5	כי אני חושב/ת שפעילות זו נעימה
#6	כי אני חושב/ת שפעילות זו טובה לי
#7	כי זה משהו שאני חייב לעשות
#8	אני מבצע/ת פעילות זו אך אינו בטוח אם זה שווה את זה
#9	כי הפעילות הזו כיפית
#10	בהחלטה אישית
#11	כי אין לי ברירה
#12	אני לא יודע/ת; אני לא רואה מה הפעילות הזו נותנת לי
#13	כי אני מרגיש/ה טוב כשאני מבצע/ת את הפעילות הזו
#14	כי אני מאמין/ה שפעילות זו חשובה לי
#15	כי אני מרגיש/ה שעלי לעשות זאת
#16	אני מבצע/ת פעילות זו אך איני בטוח כי זה דבר טוב

In [109]:
df_SIMS_factors  = calculate_factors_SIMS(df_SIMS_Dyslexia)
df_SIMS_factors.describe()

is_robot=(df_Condition_Dyslexia['condition'] == 'robot')
robot_indeces = df_Condition_Dyslexia.index[is_robot].tolist()
df_SIMS_robot_Dyslexia = df_SIMS_factors.loc[robot_indeces,:]

is_tablet=(df_Condition_Dyslexia['condition'] == 'tablet')
tablet_indeces = df_Condition_Dyslexia.index[is_tablet].tolist()
df_SIMS_tablet_Dyslexia = df_SIMS_factors.loc[tablet_indeces,:]

is_teacher=(df_Condition_Dyslexia['condition'] == 'teacher')
teacher_indeces = df_Condition_Dyslexia.index[is_teacher].tolist()
df_SIMS_teacher_Dyslexia = df_SIMS_factors.loc[teacher_indeces,:]

describe_tablet = df_SIMS_tablet_Dyslexia.describe().transpose()
describe_robot = df_SIMS_robot_Dyslexia.describe().transpose()
describe_teacher = df_SIMS_teacher_Dyslexia.describe().transpose()

df_SIMS_summary = pd.DataFrame()
df_SIMS_summary["SIMS"] = range(1,5)
df_SIMS_summary["question"]=["Intrinsic Motivation",
                                  "Identified Regulation",
                                  "External Regulation",
                                  "Amotivation"]
df_SIMS_summary["tablet mean"]=describe_tablet[["mean"]].values
df_SIMS_summary["tablet SD"] = describe_tablet[["std"]].values
df_SIMS_summary["robot mean"] = describe_robot[["mean"]].values
df_SIMS_summary["robot SD"] = describe_robot[["std"]].values
df_SIMS_summary["teacher mean"] = describe_teacher[["mean"]].values
df_SIMS_summary["teacher SD"] = describe_teacher[["std"]].values
df_SIMS_summary["tablet-robot-p-value"] = calculate_t_test(df_SIMS_tablet_Dyslexia,df_SIMS_robot_Dyslexia)
df_SIMS_summary

,SIMS,question,tablet mean,tablet SD,robot mean,robot SD,teacher mean,teacher SD,tablet-robot-p-value
0,1,Intrinsic Motivation,4.966667,1.394718,5.222222,1.257007,NaN,NaN,[0.583980132582]
1,2,Identified Regulation,5.350000,1.325573,4.583333,1.382666,NaN,NaN,[0.116265374271]
2,3,External Regulation,4.116667,1.274288,4.611111,1.458298,NaN,NaN,[0.312755238323]
3,4,Amotivation,1.983333,1.151345,2.416667,1.197424,NaN,NaN,[0.300368102685]

##Negative Attitudes Towards Robots (NARS)

In [110]:
NARS_pre_titles = []
NARS_post_titles = []
for i in range(1,15):
    NARS_pre_titles.append('NARS_pre_'+str(i))
    NARS_post_titles.append('NARS_post_'+str(i))
df_NARS_pre = df_NARsPre_Dyslexia[NARS_pre_titles]
df_NARS_factors_pre_Dyslexia = calculate_factors_NARS(df_NARS_pre)
df_NARS_post = df_NARsPost_Dyslexia[NARS_post_titles]
df_NARS_factors_post_Dyslexia = calculate_factors_NARS(df_NARS_post)

In [172]:
df_NARS_factors_post_Dyslexia["condition"]=df_Condition_Dyslexia["condition"]

In [173]:
df_NARS_factors_post_Dyslexia

    NARS_sub1  NARS_sub2  NARS_sub3 condition
0    3.166667        3.6   5.000000     robot
1    4.333333        5.0   5.000000     robot
2         NaN        NaN        NaN     robot
3    3.000000        3.8   5.000000     robot
4    3.333333        3.2   3.000000    tablet
5    1.666667        3.0   3.000000    tablet
6    1.500000        3.2   3.000000    tablet
7    3.000000        3.6   4.000000    tablet
8    1.333333        1.0   2.000000    tablet
9    2.666667        3.2   4.333333    tablet
10   3.000000        2.6   1.000000    tablet
11   2.666667        3.0   3.666667    tablet
12   2.666667        3.2   2.000000    tablet
13   4.666667        4.4   5.000000    tablet
14   2.000000        1.0   3.666667    tablet
15   2.666667        3.0   3.333333    tablet
16        NaN        NaN        NaN    tablet
17   1.333333        2.6   2.333333    tablet
18        NaN        NaN        NaN    tablet
19   2.166667        2.8   3.000000     robot
20   2.333333        3.8   3.333333     robot
21   2.166667        3.0   3.666667     robot
22   1.000000        1.0   5.000000     robot
23   2.166667        1.2   5.000000     robot
24   1.666667        2.2   3.333333     robot
25   2.000000        2.6   1.333333     robot
26   2.333333        1.6   2.000000     robot
27   3.166667        3.0   4.333333     robot
28   3.833333        3.8   3.333333     robot
29   3.166667        3.6   3.666667     robot
30   2.166667        3.6   3.666667     robot
31   1.500000        2.8   4.000000     robot
32   1.500000        4.2   2.333333     robot
33   2.833333        3.4   5.000000   teacher
34   3.166667        4.4   3.000000   teacher
35        NaN        NaN        NaN   teacher
36   4.000000        3.8   5.000000   teacher
37   2.000000        1.8   3.000000   teacher

In [111]:
df_NARS_factors_pre_Dyslexia.describe()

       NARS_sub1  NARS_sub2  NARS_sub3
count  34.000000  34.000000  33.000000
mean    2.269608   2.868627   3.464646
std     0.885741   0.854300   1.063731
min     0.000000   1.200000   1.000000
25%     1.666667   2.250000   3.000000
50%     2.166667   3.000000   3.666667
75%     3.000000   3.383333   4.000000
max     4.000000   4.000000   6.000000

In [112]:
df_NARS_factors_post_Dyslexia.describe()

       NARS_sub1  NARS_sub2  NARS_sub3
count  34.000000  34.000000  34.000000
mean    2.534314   3.000000   3.509804
std     0.889311   1.007848   1.128854
min     1.000000   1.000000   1.000000
25%     2.000000   2.600000   3.000000
50%     2.500000   3.100000   3.500000
75%     3.125000   3.600000   4.333333
max     4.666667   5.000000   5.000000

##ATTITUDES TOWARDS TABLET/ROBOT/TEACHER SURVEY

In [134]:
x=df_ATa_Dyslexia.describe() 
describe_tablet = x.transpose()[3:18]

x=df_ARo_Dyslexia.describe() 
describe_robot = x.transpose()[3:18]

x=df_ATe_Dyslexia.describe() 
describe_teacher = x.transpose()[3:18]

df_attitudes_summary = pd.DataFrame()
df_attitudes_summary["Attitude"] = range(1,16)
df_attitudes_summary["question"]=["הבנתי את ההנחיות",
                                  "ההנחיות היו איכותיות",
                                  "חשתי אמון במרצה/עוזר הוראה",
                                  "חשתי תחושת נוחות עם המראה של האפליקציה",
                                  "חשתי תחושת נוחות עם התנהגות המרצה/עוזר הוראה",
                                  "המרצה/עוזר הוראה תרם לפעילות",
                                  "המרצה/עוזר הוראה סיפק עזרה טכנית",
                                  "ארצה שיעורים נוספים כאלו",
                                  "המרצה/עוזר ההוראה הגיב לקבוצה",
                                  "המרצה/עוזר ההוראה היה ידידותי",
                                  "המרצה/עוזר הוראה התנהג באנושיות",
                                  "המרצה/עוזר הוראה היה אנרגטי במהלך השיעור",
                                  "אהבתי את ההנחייה בפעילות",
                                  "הפעילות היתה נעימה",
                                  "הפעילות היתה מעניינת"]

df_attitudes_summary["tablet mean"] = describe_tablet[["mean"]].values
df_attitudes_summary["tablet SD"] = describe_tablet[["std"]].values
df_attitudes_summary["robot mean"] = describe_robot[["mean"]].values
df_attitudes_summary["robot SD"] = describe_robot[["std"]].values
df_attitudes_summary["teacher mean"] = describe_teacher[["mean"]].values
df_attitudes_summary["teacher SD"] = describe_teacher[["std"]].values
df_attitudes_summary["tablet-robot-p-value"] = calculate_t_test(df_ATa_Dyslexia[range(4,19)],df_ARo_Dyslexia[range(4,19)])
df_attitudes_summary

,Attitude,question,tablet mean,tablet SD,robot mean,robot SD,teacher mean,teacher SD,tablet-robot-p-value
0,1,הבנתי את ההנחיות,4.533333,1.302013,4.5000,0.894427,5.0,0.000000,[0.933985371427]
1,2,ההנחיות היו איכותיות,3.600000,1.502379,4.1875,0.655108,5.0,0.000000,[0.164163504399]
2,3,חשתי אמון במרצה/עוזר הוראה,3.466667,1.407463,3.2500,1.238278,5.0,0.000000,[0.651932483626]
3,4,חשתי תחושת נוחות עם המראה של האפליקציה,4.000000,1.362770,4.8750,0.341565,5.0,0.000000,[0.0188027064687]
4,5,חשתי תחושת נוחות עם התנהגות המרצה/עוזר הוראה,3.066667,1.387015,4.5625,0.892095,5.0,0.000000,[0.00118655879482]
5,6,המרצה/עוזר הוראה תרם לפעילות,4.000000,1.309307,4.3750,0.718795,5.0,0.000000,[0.326914866205]
6,7,המרצה/עוזר הוראה סיפק עזרה טכנית,4.200000,1.320173,4.5000,0.632456,4.8,0.447214,[0.421556149669]
7,8,ארצה שיעורים נוספים כאלו,3.200000,1.424279,3.7500,1.238278,5.0,0.000000,[0.259746391783]
8,9,המרצה/עוזר ההוראה הגיב לקבוצה,2.666667,1.588650,4.4375,0.813941,5.0,0.000000,[0.000466183218112]
9,10,המרצה/עוזר ההוראה היה ידידותי,3.266667,1.387015,3.9375,1.388944,5.0,0.000000,[0.189125631349]
10,11,המרצה/עוזר הוראה התנהג באנושיות,1.866667,0.990430,2.4375,1.030776,5.0,0.000000,[0.127205618831]
11,12,המרצה/עוזר הוראה היה אנרגטי במהלך השיעור,1.666667,0.975900,2.5000,1.366260,4.8,0.447214,[0.0618825537114]
12,13,אהבתי את ההנחייה בפעילות,2.466667,1.355764,2.9375,1.181454,5.0,0.000000,[0.310286718607]
13,14,הפעילות היתה נעימה,3.200000,1.373213,3.2500,1.341641,5.0,0.000000,[0.919046871264]
14,15,הפעילות היתה מעניינת,3.703704,1.137298,3.6000,1.429022,5.0,0.000000,[0.782994761055]

##ATTITUDES TOWARDS GROUP

In [166]:
x=df_AGr_Dyslexia.describe()
is_robot=(df_Condition_Dyslexia['condition'] == 'robot')
robot_indeces = df_Condition_Dyslexia.index[is_robot].tolist()
df_Group_robot_Dyslexia = df_AGr_Dyslexia.loc[robot_indeces,:][range(4,14)]

is_tablet=(df_Condition_Dyslexia['condition'] == 'tablet')
tablet_indeces = df_Condition_Dyslexia.index[is_tablet].tolist()
df_Group_tablet_Dyslexia = df_AGr_Dyslexia.loc[tablet_indeces,:][range(4,14)]

is_teacher=(df_Condition_Dyslexia['condition'] == 'teacher')
teacher_indeces = df_Condition_Dyslexia.index[is_teacher].tolist()
df_Group_teacher_Dyslexia = df_AGr_Dyslexia.loc[teacher_indeces,:][range(4,14)]


describe_tablet = df_Group_tablet_Dyslexia.describe().transpose()
describe_robot = df_Group_robot_Dyslexia.describe().transpose()
describe_teacher = df_Group_teacher_Dyslexia.describe().transpose()

df_Group_summary = pd.DataFrame()
df_Group_summary["Group"] = range(1,11)
df_Group_summary["question"]=["העבודה בקבוצה תרמה להבנת החומר",
                                  "הרגשתי שהתבטאתי במהלך הדיונים",
                                  "כל חברי הקבוצה תרמו במידה שווה לדיון",
                                  "ההנחיות לעבודה היו ברורות",
                                  "התרומה של המנחה (אדם/רובוט/טאבלט) הייתה גדולה",
                                  "הרגשתי שחברי הקבוצה התייחסו לדעותיי",
                                  "רצף הפעילויות היה הגיוני וברור",
                                  "חבר קבוצה אחד ניהל את רוב הדיון",
                                  "נהניתי לעבוד עם חברי הקבוצה",
                                  "חברי הקבוצה הרגישו חופשיים להשמיע קולות שונים"]
df_Group_summary["tablet mean"]=describe_tablet[["mean"]].values
df_Group_summary["tablet SD"] = describe_tablet[["std"]].values
df_Group_summary["robot mean"] = describe_robot[["mean"]].values
df_Group_summary["robot SD"] = describe_robot[["std"]].values
df_Group_summary["teacher mean"] = describe_teacher[["mean"]].values
df_Group_summary["teacher SD"] = describe_teacher[["std"]].values
df_Group_summary["tablet-robot-p-value"] = calculate_t_test(df_Group_tablet_Dyslexia,df_Group_robot_Dyslexia)
df_Group_summary

,Group,question,tablet mean,tablet SD,robot mean,robot SD,teacher mean,teacher SD,tablet-robot-p-value
0,1,העבודה בקבוצה תרמה להבנת החומר,4.400000,0.736788,4.176471,1.424574,NaN,NaN,[0.58911645521]
1,2,הרגשתי שהתבטאתי במהלך הדיונים,4.000000,1.414214,4.588235,0.618347,NaN,NaN,[0.129934012548]
2,3,כל חברי הקבוצה תרמו במידה שווה לדיון,4.400000,0.985611,4.352941,0.861770,NaN,NaN,[0.886355801861]
3,4,ההנחיות לעבודה היו ברורות,4.533333,0.639940,4.294118,1.311712,NaN,NaN,[0.526192488919]
4,5,התרומה של המנחה (אדם/רובוט/טאבלט) הייתה גדולה,3.133333,0.990430,2.882353,1.111438,NaN,NaN,[0.507680965656]
5,6,הרגשתי שחברי הקבוצה התייחסו לדעותיי,4.866667,0.351866,4.411765,0.712287,NaN,NaN,[0.0325832063936]
6,7,רצף הפעילויות היה הגיוני וברור,4.533333,0.639940,4.235294,1.200490,NaN,NaN,[0.39726107116]
7,8,חבר קבוצה אחד ניהל את רוב הדיון,2.200000,0.941124,1.882353,0.857493,NaN,NaN,[0.325736263398]
8,9,נהניתי לעבוד עם חברי הקבוצה,4.733333,0.457738,4.411765,1.175735,NaN,NaN,[0.328468297814]
9,10,חברי הקבוצה הרגישו חופשיים להשמיע קולות שונים,4.800000,0.414039,4.411765,1.064121,NaN,NaN,[0.195104168861]

In [163]:
x=df_AGr_Dyslexia.describe()
is_robot=(df_Condition_Dyslexia['condition'] == 'robot')
robot_indeces = df_Condition_Dyslexia.index[is_robot].tolist()
df_Group_robot_Dyslexia = df_AGr_Dyslexia.loc[robot_indeces,:][range(4,14)]

is_tablet=(df_Condition_Dyslexia['condition'] == 'tablet')
tablet_indeces = df_Condition_Dyslexia.index[is_tablet].tolist()
df_Group_tablet_Dyslexia = df_AGr_Dyslexia.loc[tablet_indeces,:][range(4,14)]

is_teacher=(df_Condition_Dyslexia['condition'] == 'teacher')
teacher_indeces = df_Condition_Dyslexia.index[is_teacher].tolist()
df_Group_teacher_Dyslexia = df_AGr_Dyslexia.loc[teacher_indeces,:][range(4,14)]

describe_tablet = df_Group_tablet_Dyslexia.describe().transpose()
describe_robot = df_Group_robot_Dyslexia.describe().transpose()
describe_teacher = df_Group_teacher_Dyslexia.describe().transpose()

In [164]:
df_Group_summary = pd.DataFrame()
df_Group_summary["Group"] = range(1,11)
df_Group_summary["question"]=["העבודה בקבוצה תרמה להבנת החומר",
                                  "הרגשתי שהתבטאתי במהלך הדיונים",
                                  "כל חברי הקבוצה תרמו במידה שווה לדיון",
                                  "ההנחיות לעבודה היו ברורות",
                                  "התרומה של המנחה (אדם/רובוט/טאבלט) הייתה גדולה",
                                  "הרגשתי שחברי הקבוצה התייחסו לדעותיי",
                                  "רצף הפעילויות היה הגיוני וברור",
                                  "חבר קבוצה אחד ניהל את רוב הדיון",
                                  "נהניתי לעבוד עם חברי הקבוצה",
                                  "חברי הקבוצה הרגישו חופשיים להשמיע קולות שונים"]
df_Group_summary["tablet mean"]=describe_tablet[["mean"]].values
df_Group_summary["tablet SD"] = describe_tablet[["std"]].values
df_Group_summary["robot mean"] = describe_robot[["mean"]].values
df_Group_summary["robot SD"] = describe_robot[["std"]].values
df_Group_summary["teacher mean"] = describe_teacher[["mean"]].values
df_Group_summary["teacher SD"] = describe_teacher[["std"]].values
df_Group_summary["tablet-robot-p-value"] = calculate_t_test(df_Group_tablet_Dyslexia,df_Group_robot_Dyslexia)
df_Group_summary

,Group,question,tablet mean,tablet SD,robot mean,robot SD,teacher mean,teacher SD,tablet-robot-p-value
0,1,העבודה בקבוצה תרמה להבנת החומר,4.400000,0.736788,4.176471,1.424574,NaN,NaN,[0.58911645521]
1,2,הרגשתי שהתבטאתי במהלך הדיונים,4.000000,1.414214,4.588235,0.618347,NaN,NaN,[0.129934012548]
2,3,כל חברי הקבוצה תרמו במידה שווה לדיון,4.400000,0.985611,4.352941,0.861770,NaN,NaN,[0.886355801861]
3,4,ההנחיות לעבודה היו ברורות,4.533333,0.639940,4.294118,1.311712,NaN,NaN,[0.526192488919]
4,5,התרומה של המנחה (אדם/רובוט/טאבלט) הייתה גדולה,3.133333,0.990430,2.882353,1.111438,NaN,NaN,[0.507680965656]
5,6,הרגשתי שחברי הקבוצה התייחסו לדעותיי,4.866667,0.351866,4.411765,0.712287,NaN,NaN,[0.0325832063936]
6,7,רצף הפעילויות היה הגיוני וברור,4.533333,0.639940,4.235294,1.200490,NaN,NaN,[0.39726107116]
7,8,חבר קבוצה אחד ניהל את רוב הדיון,2.200000,0.941124,1.882353,0.857493,NaN,NaN,[0.325736263398]
8,9,נהניתי לעבוד עם חברי הקבוצה,4.733333,0.457738,4.411765,1.175735,NaN,NaN,[0.328468297814]
9,10,חברי הקבוצה הרגישו חופשיים להשמיע קולות שונים,4.800000,0.414039,4.411765,1.064121,NaN,NaN,[0.195104168861]